*{
  padding: 0;
  margin: 0;
}
body{
  font: normal 18px Tahoma, Verdana, Arial, sans-serif;

}
a{
  color: #D91139;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#divContenedor{
  position: center;
  left: 50%;
  margin-left: 0px;
  top: 50px;
  border: solid 0px #000;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 5px;
  height: 100%;
  box-shadow: 0 0 10px rgb(51, 51, 51);
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
  background: #058616;
  padding: 24px;
  margin: 2px;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 3px;
  border:solid 1px #333;
  cursor: pointer;
  color: #D91139;
  font-size: 14px;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
}
ul li:hover{
  border-color: #D91139;
}
#divInicio{
  background: rgb(255, 255, 255) url(../img/Memo.png) no-repeat center;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  color: #fff;
}
#divInferior{
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
#divInferior p{
  padding-bottom: 20px;
}
#divInferior input[type="button"]{
  border: solid 1px #333;
  border-radius: 3px;
  padding: 5px;
  background: rgb(0, 138, 46);
  color: #999;
  cursor: pointer;
  width: 100px;
  height: 60px;
  font: normal 25px Tahoma, Verdana, Arial, sans-serif;
}
#divInferior input[type="button"]:hover{
  border-color: #D91139;
  color: #fff;
}
#divContador{
  position: absolute;
  bottom: -1px;
  background: #D91139;
  right: 0;
  border-radius: 5px;
}
#divContador p{
  padding: 5px;
  color #fff;
}
